.padding{
  padding: 5vh 0 5vh 0;
}
.btn{
  background-color: #245e77;
}
#banner{
  background-image: url("../img/sea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.95;
  height: 100vh;
}

.name{
  top:20vh;
  position: relative;
}

#nav{
  position: relative;
  top: 1vh;
  text-align: right;
}

#nav li{
position: relative;
display: inline-block;
list-style-type: none;
margin-right: 2em;
}

#nav li a{
  color: white;
  letter-spacing: 1px;
  font-size: 0.8em;
}
#about{
  background-color: #eff1f5;
  margin: 0;
  top: 0;
}
#portfolio{
  background-color:
}

hr{
  width: 8%;
}
.box-maggie{
  position: relative;
}
.box-maggie img{
  position: absolute;
  transition: opacity .5s;
  cursor: pointer;
}
.box-maggie img.top:hover{
  opacity: 0;
}
.img-portfolio{
  height: 250px !important;
}
#contact{
  background-color: #37474f;
  height: 60vh;
}
footer{
  background-color: #263238;
  height: 9vh;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
