*{
  box-sizing: border-box;
}
body {
	margin: 0;
  padding: 0;
}
.padding{
  padding: 5vh 0 5vh 0;
}
.pt{
  padding-top: 2vh;
}
.btn{
  background-color: #245e77;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#banner{
  background-image: url("../img/sea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.name{
  top:21vh;
  position: relative;
}

#nav{
  position: relative;
  top: 1vh;
  text-align: right;
}

#nav li{
position: relative;
display: inline-block;
list-style-type: none;
margin-right: 2em;
}

#nav li a{
  color: white;
  letter-spacing: .8px;
  font-size: 0.8em;
}
#about{
  height: 70vh;

}
#portfolio{
  background-color:rgb(245, 246, 246)
}

hr{
  width: 70%;
}
.box-maggie{
  position: relative;
}
.box-maggie img{
  position: absolute;
  transition: opacity .5s;
  cursor: pointer;
}
.box-maggie img.top:hover{
  opacity: 0;
}
.img-portfolio{
  height: 250px !important;
}
#contact{
  background-color: #f6f6f6;
  height: 54vh;
  }
.network{
  letter-spacing: 1.5em;
}
footer{
  height: 7vh;
  position: relative;
}

@media only screen and (max-width: 500px) {
  .name{
    top: 14vh;
 }
}
@media only screen and (max-width: 500px) {
  .name h2, h5{
    font-size: 1.5em
  }
}
@media only screen and (max-width: 500px) {
  .about-maggie{
    position: relative;
    top: 49vh;
  }
}
@media only screen and (max-width: 500px) {
  #contact{
    height: 68vh;
    top: 63vh;
    position: relative;
    }
}
@media only screen and (max-width: 500px) {
footer{
  top:77vh;
    }
}
